.container{
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 500px;
    background-color: rgb(60, 56, 56);
    border-radius: 5px;
}
.InfoList{
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.img{
    height: 100px;
}