.container {
    background-color: #3f3e3e;
    width: 651px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

.searchesList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.title {
    margin-top: 0px;
    margin-bottom: 15px;
}

.deleteAllButton {
    background-color: rgb(181, 4, 4);
    height: fit-content;
    width: fit-content;
}

.topSec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}