.container{
    background-color:#1a1a1a;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.usersList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}